
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
:focus {
    outline: 0 none;
}
ol, ul {
    list-style: none outside none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: 0 none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 5px solid #366BA1;
    color: #333333;
    font: 90%/1.5 "Lucida Sans Unicode","Lucida Grande",Arial,"ƒqƒ‰ƒMƒmŠpƒS Pro W3","Hiragino Kaku Gothic Pro","‚l‚r ‚oƒSƒVƒbƒN",sans-serif;
}
a:hover img {
    background: none repeat scroll 0 0 #FFFFFF;
    opacity: 0.8;
}
a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #366BA1;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    text-decoration: none;
    vertical-align: baseline;
}
a:hover, a:active {
    color: #003465;
    outline: medium none;
    transition: opacity 1s ease 0s;
}
nav .panel:before, nav .panel:after, nav#mainNav:before, nav#mainNav:after, .newsTitle:before, .newsTitle:after, #footerInfo:before, #footerInfo:after {
    content: "";
    display: table;
}
nav .panel:after, nav#mainNav:after, .newsTitle:after, #footerInfo:after {
    clear: both;
}
nav .panel, nav#mainNav, .newsTitle, #footerInfo {
}
input[type="text"], textarea {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #D4D4D7;
    border-radius: 3px;
    color: #555555;
    font-size: 100%;
    height: 30px;
    line-height: 30px;
    max-width: 90%;
    padding: 1px 5px;
    vertical-align: middle;
}
textarea {
    height: auto;
    line-height: 1.5;
}
input[type="submit"], input[type="reset"], input[type="button"] {
    background: linear-gradient(to bottom, #366BA1 0%, #003465 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 3px;
    line-height: 1.5;
    padding: 3px 10px;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background: linear-gradient(to bottom, #003465 0%, #366BA1 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#wrapper, #header, .inner {
    margin: 0 auto;
    padding-bottom: 10px;
    width: 960px;
}
#content {
    float: right;
    width: 625px;
}

.listpic {
    float: left;
    width: 30%;
    margin: 10px;
    max-height: 100px;
}

#sidebar {
    float: auto;
    padding-top: 30px;
    width: 300px;
}
#footer {
    background: none repeat scroll 0 0 #366BA1;
    clear: both;
    color: #FFFFFF;
}
#header h1 {
    font-size: 90%;
    font-weight: normal;
    padding: 10px 0 0 3px;
}

#header h1 {

    background: url("../img/waterheader850.jpg");
    float: left;
    width: 100%;
    height: 100%;
}
#header h2 {
    clear: both;
    float: left;
    font-size: 160%;
    font-weight: bold;
    padding: 20px 0;
}
#headerInfo {
    float: right;
    padding-bottom: 20px;
    text-align: right;
}
.tel {
    background: url("../img/tel.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    display: inline;
    font: 40px "Palatino Linotype","Book Antiqua",Palatino,serif;
    padding-left: 48px;
}
#searchHead input {
    line-height: 30px;
}
#searchHead input.searchBox[type="text"] {
    border-radius: 3px 0 0 3px;
    border-right: 0 none;
    height: 26px;
    vertical-align: top;
    width: 140px;
}
h2.title {
    background: url("../img/noiseBg.png") repeat scroll 0 0 #366BA1;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    clear: both;
    font-size: 120%;
    font-weight: normal;
    line-height: 33px;
    margin: 30px 0 20px;
    padding: 5px 10px;
}
h2.title span, .newsTitle h3 span, section.widget h3 span {
    color: #FFFFFF;
}
.dateLabel {
    font: italic 1em "Palatino Linotype","Book Antiqua",Palatino,serif;
    margin: -10px 0 10px;
    text-align: right;
}
.post p {
    padding-bottom: 15px;
}
.post ul {
    margin: 0 0 10px 10px;
}
.post ul li {
    background: url("../img/bullet.png") no-repeat scroll 0 8px rgba(0, 0, 0, 0);
    margin-bottom: 5px;
    padding-left: 15px;
}
.post ol {
    margin: 0 0 10px 30px;
}
.post ol li {
    list-style: decimal outside none;
}
.post h1 {
    border-bottom: 1px solid #003465;
    border-top: 1px solid #366BA1;
    color: #003465;
    font-size: 150%;
    margin: 20px 0;
    padding: 5px 0;
}
.post h2 {
    color: #003465;
    font-size: 130%;
    font-weight: normal;
    margin: 10px 0;
    padding-bottom: 2px;
}
.post h3 {
    background: url("../img/borderDot.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    color: #003465;
    font-size: 120%;
    font-weight: normal;
    margin: 10px 0;
    text-align: left;
    padding-left:20px;
}
.post blockquote {
    border-left: 5px solid #CCCCCC;
    clear: both;
    margin: 10px 0 25px 30px;
    padding: 10px 0 10px 15px;
}
.post blockquote p {
    padding: 5px 0;
}
.post table {
    border: 1px solid #003465;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px 0 20px;
}
.post table th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #366BA1;
    border-color: #003465;
    border-image: none;
    border-style: solid;
    border-width: 0 0 1px 1px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 7px 10px 7px 5px;
}
.post table td {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px dotted #CCCCCC;
    padding: 7px 5px;
}
.post dt {
    font-weight: bold;
}
.post dd {
    padding-bottom: 10px;
}
.post img {
    height: auto;
    max-width: 100%;
}
img.aligncenter {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: block;
    margin: 5px auto;
    padding: 4px;
}
img.alignright, img.alignleft {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    display: inline;
    margin: 0 0 2px 7px;
    padding: 4px;
}
img.alignleft {
    margin: 0 7px 2px 0;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
section.widget {
    margin-bottom: 20px;
    padding-bottom: 20px;
}
section.widget h3 {
    background: url("../img/noiseBg.png") repeat scroll 0 0 #366BA1;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    font-size: 120%;
    font-weight: normal;
    line-height: 33px;
    margin: 0 0 10px;
    padding: 5px 10px;
}
section.widget a {
    background: url("../img/borderDot.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    display: block;
    padding: 10px 5px;
}
section.widget a:hover {
    background-color: #F7FFFF;
}
.newsTitle {
    background: url("../img/noiseBg.png") repeat scroll 0 0 #366BA1;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    font-size: 120%;
    line-height: 33px;
    margin: 0 0 20px;
    padding: 5px 10px;
}
.newsTitle h3 {
    float: left;
    font-weight: normal;
}
.newsTitle p {
    background: url("../img/arrow.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    float: right;
    font-size: 0.8em;
    padding: 0 10px 0 28px;
}
.newsTitle a {
    color: #FFFFFF;
}
.news {
    padding-bottom: 40px;
}
.news p {
    background: url("../img/borderDot.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    clear: both;
    padding-bottom: 2px;
}
.news p a {
    color: #003465;
    display: block;
    font: italic 110% "Palatino Linotype","Book Antiqua",Palatino,serif;
    padding: 10px 0;
}
.news a span {
    color: #366BA1;
    font: 90% Arial,'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}
.news span {
    padding-left: 10px;
}
.news a:hover span {
    color: #003465;
}
.news p a:hover {
    background-color: #F7FFFF;
}
#pagetop {
    clear: both;
    display: block;
    margin-bottom: -1px;
    overflow: hidden;
    padding-top: 30px;
}
#pagetop a {
    background: url("../img/toTop.png") no-repeat scroll 8px 60% #003465;
    border-bottom: 0 none;
    border-radius: 5px 5px 0 0;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 90%;
    padding: 5px 15px 2px 25px;
    position: relative;
}
#pagetop a:hover {
    background-position: 8px 40%;
}
:first-child + html #pagetop {
    margin-bottom: -10px;
}
:first-child + html #pagetop a {
    padding: 5px 15px 5px 25px;
    position: static;
}
#footerInfo {
    background: url("../img/noiseBg.png") repeat scroll 0 0 #366BA1;
    border-bottom: 1px dotted #003465;
    margin-bottom: 20px;
    padding: 20px 10px;
}
#footerLogo {
    float: left;
    padding: 10px;
}
.contactInfo {
    float: right;
    text-align: right;
}
.contactInfo .tel a {
    color: #FFFFFF;
}
#footer ul {
    font-size: 95%;
    padding-bottom: 20px;
    text-align: center;
}
#footer ul ul {
    padding-bottom: 0;
}
#footer ul li {
    background: url("../img/parent.png") no-repeat scroll 0 9px rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 5px 0;
    text-align: left;
    vertical-align: text-top;
}
#footer ul li a {
    color: #FFFFFF;
    display: block;
    overflow: hidden;
    padding: 0 20px 0 13px;
}
#footer ul li a:hover {
    text-decoration: underline;
}
#footer ul li li {
    background: url("../img/child.png") no-repeat scroll 0 4px rgba(0, 0, 0, 0);
    display: block;
    margin-left: 10px;
    padding: 0;
}
#footer ul li li a {
    padding: 0 10px 0 12px;
}
:first-child + html #footer ul {
    margin: 0 auto;
    width: 920px;
}
:first-child + html #footer ul ul {
    width: auto;
}
:first-child + html #footer ul li {
    float: left;
}
#copyright {
    background: none repeat scroll 0 0 #003465;
    clear: both;
    color: #FFFFFF;
    font-size: 90%;
    font-style: normal;
    padding: 5px;
    text-align: center;
}
.pagenav {
    clear: both;
    height: 30px;
    margin: 5px 0 20px;
    width: 100%;
}
.prev {
    float: left;
}
.next {
    float: right;
}
#pageLinks {
    clear: both;
    color: #366BA1;
    text-align: center;
}
.thumbWrap {
    margin-right: -25px;
    width: 650px;
}
.thumbWrap_PR {
    margin-right: -20px;
    width: 645px;
}
ul.thumb {
    margin: 0;
}
ul.gap {
    margin-top: 40px;
}
ul.thumb li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    margin: 0 25px 0 0;
    padding: 0 0 40px;
    width: 300px;
}
ul.thumb li img.wp-post-image {
    display: inline;
    float: left;
    padding: 0 5px 3px 0;
}
ul.thumb h3 {
    font-size: 110%;
    font-weight: normal;
}
.thumbWrap ul.thumb h3 {
    background: url("../img/arrow.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
    display: inline;
    padding: 0 25px 0 0;
}
.thumbWrap_PR ul.thumb li {
    margin: 0 20px 0 0;
    width: 195px;
}
@media only screen and (min-width: 1025px) {
nav#mainNav {
    background: url("../img/navBg.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    clear: both;
    height: 54px;
    margin-bottom: 20px;
    padding-top: 14px;
    position: relative;
}
.panel ul li {
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 0 10px;
    position: relative;
}
.panel ul li a {
    color: #FFFFFF;
    display: block;
    height: 40px;
    text-align: center;
}
nav div.panel {
    display: block !important;
    float: left;
}
a#menu {
    display: none;
}
.panel ul {
    width: 745px;
}
.panel ul li a span {
    float: left;
    margin: 0 10px 0 -5px;
    padding: 0 8px 0 20px;
}
.panel ul li.current-menu-item a, .panel ul li a:hover, .panel ul li a:active, .panel ul li.current-menu-parent a {
    background: url("../img/mainNav.png") no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
}
.panel ul li.current-menu-item a span, .panel ul li a:hover span, .panel ul li a:active span, .panel ul li.current-menu-parent a span {
    background: url("../img/mainNav.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
}
.panel ul li.current-menu-parent li a, .panel ul li.current-menu-item li a, .panel ul li.current-menu-item li a span, .panel ul li.current-menu-parent li a span, .panel ul li.current-menu-item li.current-menu-item a span, .panel ul li li a:hover span, .panel ul li li a:active span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.panel ul li.current-menu-item li a {
    color: #FFFFFF;
}
.panel ul li.current-menu-item li.current-menu-item a, .panel ul li li a:hover, .panel ul li.current-menu-parent li.current-menu-item a {
    background: linear-gradient(to bottom, #366BA1 0%, #003465 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
}
.panel ul li.current-menu-parent:hover li a span, .panel ul li.current-menu-parent li a {
    color: #FFFFFF;
}
.panel ul li.current-menu-parent:hover li.current-menu-item a span, .panel ul li.current-menu-parent li a:hover {
    color: #FFFFFF;
}
.panel ul ul {
    width: 160px;
}
.panel ul li li {
    float: none;
    height: 40px;
    line-height: 40px;
    width: 160px;
}
.panel ul li li a {
    font-size: 95%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    width: 100%;
}
.panel ul li ul {
    display: none;
}
.panel ul li:hover ul {
    border: 1px solid #003465;
    border-radius: 6px;
    display: block;
    left: -7px;
    position: absolute;
    top: 40px;
    z-index: 100;
}
.panel ul li:hover ul li {
    background: url("../img/noiseBg.png") repeat scroll 0 0 #366BA1;
    border-bottom: 1px dotted #003465;
    margin: 0;
}
.panel ul li:hover ul li:last-child {
    border: 0 none;
    border-radius: 0 0 6px 6px;
}
.panel ul li ul li a span {
    float: none;
    margin: 0;
    padding: 0 0 0 5px;
}
#searchHead {
    float: right;
    margin-top: 5px;
    text-align: right;
    width: 215px;
}
}
@media only screen and (max-width: 1024px) {
nav#mainNav {
    clear: both;
    width: 100%;
}
nav#mainNav .inner {
    width: 100%;
}
nav#mainNav a.menu {
    background: url("../img/menuOpen.png") no-repeat scroll 1em 50%, linear-gradient(to bottom, #366BA1 0%, #003465 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    text-align: left;
    width: 100%;
}
nav#mainNav a#menu span {
    padding-left: 3em;
}
nav#mainNav a.menuOpen {
    background: url("../img/menuClose.png") no-repeat scroll 1em 50%, linear-gradient(to bottom, #366BA1 0%, #003465 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 0 none;
    color: #FFFFFF;
}
nav#mainNav a#menu:hover {
    cursor: pointer;
}
nav .panel {
    border-bottom: 1px solid #CCCCCC;
    display: none;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
.panel ul {
    margin: 0;
    padding: 0;
}
.panel ul li {
    clear: both;
    float: none;
    height: auto;
    line-height: 1.4;
    width: 100%;
}
.panel ul li a, .panel ul li.current-menu-item li a {
    background: -moz-linear-gradient(center top , #FFFFFF, #F7FFFF) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #CCCCCC;
    display: block;
    padding: 1em 0;
    text-align: left;
    width: 100%;
}
.panel ul li a span {
    padding-left: 1em;
}
.panel ul li.current-menu-item a, .panel ul li a:hover, .panel ul li.current-menu-item a, .panel ul li a:active, .panel ul li li.current-menu-item a, .panel ul li.current-menu-item li a:hover, .panel ul li.current-menu-item li a:active {
    background: none repeat scroll 0 0 #F7FFFF;
    color: #003465;
}
.panel ul li.current-menu-item li a {
    color: #366BA1;
}
.panel ul li li {
    border: 0 none;
    float: left;
}
.panel ul li li a, .panel ul li.current-menu-item li a, .panel ul li li.current-menu-item a, .panel ul li li a:hover, .panel ul li.current-menu-item li a:hover {
    background: url("../img/sub1.png") no-repeat scroll 15px 50% rgba(0, 0, 0, 0);
    border-bottom: 1px dotted #FFFFFF;
    border-top: 1px dotted #CCCCCC;
}
.panel ul li li:last-child a, .panel ul li li:last-child a:hover, .panel ul li.current-menu-item li:last-child a:hover {
    background: url("../img/subLast.png") no-repeat scroll 15px 50% rgba(0, 0, 0, 0);
}
.panel ul li li a span {
    padding-left: 25px;
}
nav div.panel, #searchHead {
    float: none;
}
#searchHead {
    margin: 20px auto 10px;
    text-align: center;
}
.tel {
    padding: 5px 0 5px 48px;
}
}
@media only screen and (max-width: 959px) {
#wrapper, #header, .inner {
    width: 100%;
}
#header h1, #header h2 {
    padding-left: 10px;
}
#headerInfo {
    padding-right: 10px;
}
.panel ul, .thumbWrap, .thumbWrap_PR {
    margin: 0 auto;
}
.panel ul ul {
    padding: 0;
}
nav div.panel, #searchHead {
    float: none;
}
p#mainImg {
    text-align: center;
}
p#mainImg img {
    height: auto;
    width: 98%;
}
#content, #sidebar {
    clear: both;
    float: none;
    margin: 0 auto;
    padding: 10px 0;
    width: 95%;
}
#footer {
    margin: 0;
    text-align: center;
}
#footerInfo, #footer ul {
    float: none;
    text-align: center;
    width: auto;
}
#pagetop a {
    margin-right: 15px;
}
}
@media only screen and (max-width: 648px) {
.thumbWrap, .thumbWrap_PR {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.thumbWrap_PR ul.thumb li {
    width: 30%;
}
.thumbWrap_PR ul.thumb li {
    margin: 0 1% 0 2%;
}
.thumbWrap_PR img {
    height: auto;
    width: 100%;
}
.thumbWrap ul.thumb li {
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
#footerInfo .contactInfo {
    float: none;
    text-align: center;
}
}
@media only screen and (max-width: 644px) {
#header {
    text-align: center;
}
#header h2, #headerInfo, #footerLogo {
    float: none;
    padding: 0;
    text-align: center;
}
#headerInfo {
    padding: 10px;
}
#headerInfo p, #footerInfo p {
    font-size: 90%;
    margin: 3px 0;
}
#headerInfo p.tel, #footerInfo p.tel {
    font-size: 200%;
}
img.alignright, img.alignleft {
    display: block;
    margin: 5px auto;
}
.alignright, .alignleft {
    float: none;
}
#footer ul {
    padding: 15px;
    text-align: left;
}
#footer ul ul {
    padding: 0;
}
}
